@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

html,
body {
  background-color: #0e1012;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-grey {
  color: #7c7d7e;
}

.layout {
  background-color: #0e1012;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  padding: 0px 20px;
}

.grey-to-white {
  color: #7c7d7e;
}

.grey-to-white:hover {
  transition: all 0.3s ease;
  color: #ffffff;
}

.middle-underline {
  position: relative;
  padding: 0px 0px 10px 0px;
}

.middle-underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

.middle-underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#projects > div > div > div > p {
  color: #7c7d7e;
}

.bg-green {
  background-color: #51515c;
}

#tech-badges > span {
  margin-right: 5px;
  margin-top: 10px;
}

#tech-badges > ul > li > a {
  padding-top: 0px;
}

.search-bar {
  background-color: #0f1315;
  border: none;
  padding: 10px 7px 10px 15px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
}

.search-icon {
  background-color: #0f1315;
  border: none;
  padding: 10px 15px 10px 8px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  align-self: center;
  height: 100%;
}